<footer id="footer">
  <section>
  						<div id="field">
									<h2 id="contact"><a href="#contact">Contactez-nous</a></h2>
									<p>Des membres de l'association reviendront vers vous au plus vite !</p>									
					</div>
    <form method="POST" action="https://formspree.io/{{site.email}}">
      <div class="field">
        <label for="name">Nom</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Envoyer" /></li>
      </ul>
    </form>
  </section>
  <section class="split contact">
  
  	<section class="alt">
	<div id="mc_embed_signup">
	<form action="https://gmail.us5.list-manage.com/subscribe/post?u=d6b7c679bdc3de09ec6738409&amp;id=7ca17d7b93" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL">Abonnez-vous à notre infolettre</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre email" required>
	<div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
		<div class="content__gdpr">
			<fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
			<label class="checkbox subfield" for="gdpr_356846"><input type="checkbox" id="gdpr_356846" name="gdpr[356846]" value="Y" class="av-checkbox gdpr"><span>J'autorise Apsoly à me communiquer son infolettre.</span> </label>
			</fieldset>
			<p style="font-size:0.6rem">Vous pouvez vous désabonner à tout moment en cliquant sur le lien dans le bas de page de nos e-mails. Nous utilisons Mailchimp comme plateforme marketing. En cliquant ci-dessous pour vous abonner, vous reconnaissez que vos informations seront transférées à Mailchimp pour traitement.  <a href="https://mailchimp.com/legal/" target="_blank">En savoir plus sur les pratiques de confidentialité de Mailchimp ici.</a></p>
		</div>
	</div>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6b7c679bdc3de09ec6738409_7ca17d7b93" tabindex="-1" value=""></div>
		<div class="clear"><input type="submit" value="S'abonner" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</div>
	</form>
	</div>
	</section>
	
	     <section>
      <h3>Adhérer</h3>
      <p><a href="https://www.helloasso.com/associations/apsoly/adhesions/adhesion-a-l-association-apsoly">Retrouvez-nous sur HelloAsso</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
        <ul class="icons alt">
                  {% include social.html %}
        </ul>
    </section>

  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul>
    <li>&copy; Apsoly 2018</li>
    <li>&copy; HTML5 UP</li>
    <li>Design by <a href="https://html5up.net" rel="nofollow">HTML5 UP</a></li>
    <li>Jekyll Integration by <a href="https://soundgrail.com">SoundGrail</a></li>
  </ul>
</div>

